

.product_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #232322;
    font-weight: bold;
}

.product_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.product_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.product_box {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #7d7d7c;
    padding: 20px 0px 0px 0px;
    margin-top: 30px;
}

.bursh_text {
    width: 100%;
    font-size: 20px;
    text-align: center;

    font-weight: 600;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.image_1 {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 20px;
    height: 200px;
}

.btn_main {
    width: 100%;
    display: flex;
    background-color: #000;
    height: auto;
    padding: 20px 10px 13px 10px;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt ul {
    margin: 0px;
    padding: 0px;
}

.buy_bt li a {
    float: left;
    font-size: 12px;

    padding: 5px 10px;
    background-color: #4907fd;
    text-transform: uppercase;
    margin-right: 5px;
    border-radius: 40px;
}

.buy_bt li a:hover {
    background-color: #68eb11;
    color: #ffffff;
}

.buy_bt li.active a {
    background-color: #f5ddb6;
    color: #fff;
}

.price_text {
    font-size: 16px;
    color: #fefefd;
    width: 42%;
    padding-top: 5px;
    text-align: right;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
    padding-bottom: 30px;
}

.footer_logo {
    width: 100%;
    float: left;
    text-align: center;
    display: none;
}

.footer_logo_1 {
    width: 100%;
    float: left;
    text-align: center;
}

.address_bt {
    width: 100%;
    float: left;
}

.address_bt ul {
    margin: 0px;
    padding: 0px;
}

.address_bt li {
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0px 0px 0px;
}

.address_bt li a {
    color: #ffffff;
}

.address_bt li a:hover {
    color: #f5ddb6;
}

.padding_left10 {
    padding-left: 10px;
}

.address_text {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.dummy_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    padding-top: 20px;
}

.ipsum_text {
    width: 65%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    padding-top: 10px;
}

.main {
    width: 54%;
    float: right;
}

.social_icon {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    border-bottom: 1px solid #f5ddb6;
    padding-bottom: 30px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.social_icon li {
    float: left;
    font-size: 26px;
    color: #f5ddb6;
    padding: 10px;
}

.social_icon li a {
    color: #f5ddb6;
}

.social_icon li a:hover {
    color: #ffffff;
}


/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f5ddb6;
}

.margin_top90 {
    margin-top: 90px;
}